@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /*Para agregar clases propias*/
    .font-custom {
        font-family: 'Staatliches', cursive;
    }

    .btn {
        @apply py-2 px-4 rounded
    }

    .card-holder {
        @apply flex flex-col w-56 p-1 border-b-0 bg-white rounded-lg
    }

    .buy-btn {
        @apply text-center text-sm rounded py-2 text-white 
    }

    .full-screen {
        @apply min-h-screen w-full
    }
    .forced-width{
        min-width: 5rem;
        max-width: 5rem;
    }

}